* {
  margin: 0;
}

:root {
  --cl-White: hsl(0, 0%, 100%);
  --cl-LightGray: hsl(212, 45%, 89%);
  --cl-GrayishBlue: hsl(220, 15%, 55%);
  --cl-DarkBlue: hsl(218, 44%, 22%);
  --ff-primary: "Unbounded", cursive;
}

body {
  background-color: var(--cl-LightGray);
  height: 100vh;
  font-size: 15px;
  font-family: var(--ff-primary);
  display: grid;
  place-items: center;
}

.cardQr {
  padding: 1rem;
  background-color: var(--cl-White);
  border-radius: 1rem;
  width: 19.5rem;
  gap: 2rem;
}

.cardQr__image {
  width: 19.5rem;
  border-radius: 0.5rem;
}

.cardQR__content {
  display: grid;
  padding: 1.5rem 1rem;
  gap: 20px;
}

.cardQR__title {
  color: var(--cl-DarkBlue);
  font-size: 1.1rem;
  text-align: center;
  line-height: 22px;
}

.cardQR__info {
  color: var(--cl-GrayishBlue);
  font-size: 0.8rem;
  text-align: center;
}
